<!DOCTYPE html>
<!-- saved from url=(0034)http://amindiary.com/demo/papyrus/ -->
<html class="webkit chrome chrome61 win js no-hidpi csstransforms csstransforms3d csstransitions datauri gr__amindiary_com minw_1200 orientation_landscape"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <title>captain suman</title>
    
    <meta name="author" content="Amin Diary - Aka: LeAmino">
    <meta name="keywords" content="Responsive, Template">
    <meta name="robots" content="all">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700,800,400,600' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./Papyrus - Responsive Resume Template_files/prettyPhoto.css">
    <link rel="stylesheet" href="./Papyrus - Responsive Resume Template_files/animate.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./Papyrus - Responsive Resume Template_files/stylesheet.css">



  <style>@media print {#ghostery-purple-box {display:none !important}}</style></head>

  <body data-gr-c-s-loaded="true" style="overflow-x: hidden; overflow-y: auto;">

    <div id="preloader" style="display: none;">
      <div id="status" style="display: none;">&nbsp;</div>
      <noscript>JavaScript is off. Please enable to view full site.</noscript>
    </div>

    <div class="wrapper">
      <div class="container">

        <header id="home">

          <div class="head-image bg-image" data-bg-image="./Papyrus - Responsive Resume Template_files/head-image.jpg" style="background-position: center center; background-image: url(./Papyrus - Responsive Resume Template_files/head-image.jpg&quot;); background-size: cover; background-repeat: no-repeat; height: 535px;">
            <div class="avatar wow bounceInDown animated" style="visibility: visible; animation-name: bounceInDown;">
              <img alt="avatar" style="margin-top:-100px" src="./Papyrus - Responsive Resume Template_files/avatar.jpeg">
            </div>
          </div>

          <div class="sticky-paper-head has-shadow">
            <div class="content">
              <div class="social-icons">
                <ul>
                  <li>
                    <a class="fa fa-facebook" href="http://amindiary.com/demo/papyrus/#"></a>
                  </li>
                  <li>
                    <a class="fa fa-twitter" href="http://amindiary.com/demo/papyrus/#"></a>
                  </li>
                  <li>
                    <a class="fa fa-google-plus" href="http://amindiary.com/demo/papyrus/#"></a>
                  </li>
                  <li>
                    <a class="fa fa-youtube" href="http://amindiary.com/demo/papyrus/#"></a>
                  </li>
                  <li>
                    <a class="fa fa-github" href="http://amindiary.com/demo/papyrus/#"></a>
                  </li>
                </ul>
              </div>
            </div>
          <div class="shadow"></div></div>

          <div class="col-xs-12  nav-menu top-menu-holder">
            <nav class="hidden-xs visible-lg ">
              <ul class="nav">
                  <li class="">
                  <a href="#home" address="true">home</a>
                </li>
                <li class="active">
                  <a href="#profile" address="true">profile</a>
                </li>
                <li>
                  <a href="#education" address="true">education</a>
                </li>
                <li>
                  <a href="#experiences" address="true">experiences</a>
                </li>
                 <li>
                  <a href="#skills" address="true">skills</a>
                </li>
              </ul>

            </nav>

            <select class="top-drop-menu nav visible-md visible-sm visible-xs hidden-lg">
              <option value="#home" selected="selected">
                Home
              </option>

              <option value="#profile">
                Profile
              </option>
              <option value="#education">
                Education
              </option>
              <option value="#experiences">
                Experiences
              </option>

 <option value="#skills">
                Skills
              </option>
            </select>
          </div>

        </header>
        <section id="info" class="big-name">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>Captain Suman</h1>
              <div class="short-tag">
                Node.js developer
              </div>
            </div>
          <div class="shadow"></div></div>
          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12 col-md-7">
                  <div class="le-paragraph">
                    <p>
                      I craft APIs for rest web-services using Nodejs and I'm a big fan of event-driven development environment.
                      Technically, I am not limited to specific technologies but interested in working on rapid software development and evolution.I am a continuous learner – always looking for new technologies, I am working with kasi technologies to develop better solutions. Working with Node.js, javascript, mongodb, html5, css3, Socket.IO, and many more API's and technologies. 
                    </p>

                  </div>
                </div>
                <div class="col-xs-12 col-md-5">
                  <div class="tabled-info-holder">
                    <ul class="info-holder">
                      <li>
                        <div class="info-item">
                          <i class="fa fa-envelope"></i>
                          <span>suman.magic97@gmail.com</span>
                        </div>
                      </li>
                      <li>
                        <div class="info-item">
                          <i class="fa fa-twitter"></i>
                          <span>Twitter: <a href="https://twitter.com/elite_suman09">@elite_suman09</a></span>
                        </div>
                      </li>

                    </ul>

                    <ul class="info-holder">
                      <li>
                        <div class="info-item">
                          <i class="fa fa-map-marker"></i>
                          <span>Live in: Bengaluru, India</span>
                        </div>
                      </li>
                      <li>
                        <div class="info-item">
                          <i class="fa fa-phone"></i>
                          <span>+91 7577039624</span>
                        </div>
                      </li>
                    </ul>
                    <!--
                    <div class="social-icons small">
                      <ul>
                        <li>
                          <a class="fa fa-facebook" href="http://amindiary.com/demo/papyrus/#"></a>
                        </li>
                        <li>
                          <a class="fa fa-twitter" href="http://amindiary.com/demo/papyrus/#"></a>
                        </li>
                        <li>
                          <a class="fa fa-google-plus" href="http://amindiary.com/demo/papyrus/#"></a>
                        </li>
                        <li>
                          <a class="fa fa-youtube" href="http://amindiary.com/demo/papyrus/#"></a>
                        </li>
                        <li>
                          <a class="fa fa-github" href="http://amindiary.com/demo/papyrus/#"></a>
                        </li>
                      </ul>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>

        <hr class="le-hr">

        <section id="profile">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>profile</h1>
            </div>
          <div class="shadow"></div></div>
          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12 col-lg-6">
                  <div class="timeline-holder wow bounceInUp animated" style="visibility: visible; animation-name: bounceInUp;">
                    <div class="timeline-head">
                      <div class="icon">
                        <i class="fa fa-user"></i>
                      </div>
                    </div>
                    <div class="timeline-body">
                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon ">
                            <i class="fa fa-child"></i>
                          </div>
                        </div>

                        <div class="profile-content timeline-content right">
                          <label>full name</label>
                          <div class="value">Suman Debnath</div>
                        </div>

                      </div>

                      <div class="profile-item timeline-item">
                        <div class="icon-item right">
                          <div class="circular-icon">
                            <i class="fa fa-envelope"></i>
                          </div>

                        </div>
                        <div class="profile-content timeline-content left">
                          <label>email address</label>
                          <div class="value">suman.magic97@gmail.com
                          </div>
                        </div>

                      </div>

                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon">
                            <i class="fa fa-birthday-cake"></i>
                          </div>

                        </div>
                        <div class="profile-content timeline-content right">
                          <label>birthday</label>
                          <div class="value">09/07/1993</div>
                        </div>

                      </div>


                      <div class="profile-item timeline-item">
                        <div class="icon-item right">
                          <div class="circular-icon ">
                            <i class="fa fa-phone"></i>
                          </div>
                        </div>

                        <div class="profile-content timeline-content left">
                          <label>Phone</label>
                          <div class="value">+91 7577039624</div>
                        </div>

                      </div>


                      <div class="profile-item timeline-item">
                        <div class="icon-item left">
                          <div class="circular-icon left">
                            <i class="fa fa-code"></i>
                          </div>

                        </div>
                        <div class="profile-content timeline-content right">
                          <label>Availability</label>
                          <div class="value">available for Full-Time and Part-Time</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-lg-6">
                  <div class="interests-holder">
                    <div class="interests-row medium">
                      <ul>
                        <li class="wow bounceInDown animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInDown;">
                          <i class="fa fa-code"></i>
                          <span>Coding</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInDown;">
                          <i class="fa fa-cutlery"></i>
                          <span>Foods</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInDown;">
                          <i class="fa fa-graduation-cap"></i>
                          <span>Science</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
                          <i class="fa fa-leaf"></i>
                          <span>Nature</span>
                        </li>
                      </ul>
                    </div>
                    <div class="interests-row big">
                      <ul>
                        <li class="wow bounceInDown animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: bounceInDown;">
                          <i class="fa fa-music"></i>
                          <span>Music</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: bounceInDown;">
                          <i class="fa fa-plane"></i>
                          <span>Travel</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.7s" style="visibility: visible; animation-delay: 0.7s; animation-name: bounceInDown;">
                          <i class="fa fa-pencil"></i>
                          <span>javascript</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: bounceInDown;">
                          <i class="fa fa-coffee"></i>
                          <span>Coffee</span>
                        </li>
                      </ul>
                    </div>


                    <div class="title wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;"> 
                      <h1>hobbies &amp; interests</h1>
                    </div>
                    <div class="interests-row big">
                      <ul>
                        <li class="wow bounceInDown animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceInDown;">
                          <i class="fa fa-rocket"></i>
                          <span>algorythms</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceInDown;">
                          <i class="fa fa-road"></i>
                          <span>road Trip</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceInDown;">
                          <i class="fa fa-paw"></i>
                          <span>dogs</span>
                        </li>
                        <li class="wow bounceInDown animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: bounceInDown;">
                          <i class="fa fa-paint-brush"></i>
                          <span>art</span>
                        </li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>

        <hr class="le-hr">

        <section id="education">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>education</h1>
            </div>
          <div class="shadow"></div></div>

          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="timeline-holder wow bounceInUp" style="visibility: hidden; animation-name: none;"> 
                    <div class="timeline-head event-head">
                      <div class="icon">
                        <i class="fa fa-university"></i>
                      </div>
                    </div>
                    <div class="timeline-body">
                      <div class="event-item timeline-item">

                        <div class="event-title left">
                          <h1>Bachelor of Technology</h1>
                          <h4>Jawaharlal Nehru Technological University</h4>
                        </div>


                        <div class="event-content timeline-content right">
                          <p>
                            Year 2012-2016 <br>s
                          </p>
                        </div>

                      </div>


                      <div class="event-item timeline-item">
 <div class="event-content timeline-content left">
                          <p>
                            Year 2001-2012<br>

                          </p>

                        </div>
                        <div class="event-title right">
                          <h1>School</h1>
                          <h4>Kendriya Vidyalaya</h4>
                        </div>


                       

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>

        <hr class="le-hr">

        <section id="experiences">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>experiences</h1>
            </div>
          <div class="shadow"></div></div>

          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="timeline-holder wow bounceInUp" style="visibility: hidden; animation-name: none;">
                    <div class="timeline-head event-head">
                      <div class="icon">
                        <i class="fa fa-suitcase"></i>
                      </div>
                    </div>
                    <div class="timeline-body">
                      <div class="event-item timeline-item">

                        <div class="event-title left">
                          <h1>Node.js developer</h1>
                          <h4>Kasi Technologies (I) LLP <small>bengaluru, india</small></h4>
                        </div>


                        <div class="event-content timeline-content right">
                          <p>
                            feb 2017 - current

                          </p>
                        </div>

                      </div>
                  </div>
                </div>
              </div>
            </div>
        </section>


        <hr class="le-hr">

        <section id="skills">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>skills</h1>
            </div>
          <div class="shadow"></div></div>

          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12">
                        
              <h3><li><strong>HTML5</strong></li></h3>
              <h3><li><strong>CSS3</strong></li></h3>
              <h3><li><strong>JAVASCRIPT</strong></li></h3>
              <h3><li><strong>NODEJS</strong></li></h3>
              <h3><li><strong>MONGODB</strong></li></h3>

                
                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>


        <hr class="le-hr">

<!--
        <section id="portfolio">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>portfolio</h1>
            </div>
          <div class="shadow"></div></div>

          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="portfolio-holder">
                    <div id="filters" class="group-selectors">
                      <a class="active" href="http://amindiary.com/demo/papyrus/#all" data-filter="*">all<span></span></a>
                      <a href="http://amindiary.com/demo/papyrus/#advertisement" data-filter=".advertisement">advertisement<span></span></a>

                      <a href="http://amindiary.com/demo/papyrus/#illustration" data-filter=".illustration">illustration<span></span></a>
                      <a href="http://amindiary.com/demo/papyrus/#web" data-filter=".web">web<span></span></a>

                      <a href="http://amindiary.com/demo/papyrus/#branding" data-filter=".branding">branding<span></span></a>

                    </div>

                    <div id="portfolio-grid" class="row isotope" style="position: relative; overflow: hidden; height: 890px;">
                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item illustration  isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work01.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work01.jpg">
                        </a>
                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              Cartoon Man
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              illustration
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>


                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item advertisement isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(388px, 0px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work02.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work02.jpg">
                        </a>
                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              The Project
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              advertisement
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>



                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(776px, 0px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work04.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work04.jpg">
                        </a>

                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              Punch your boss
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              branding
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>

                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item advertisement web isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 445px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work03.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work03.jpg">
                        </a>
                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              motion picture
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              advertisement
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>
                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(388px, 445px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work05.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work05.jpg">
                        </a>
                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              logo design
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              branding
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>

                      <figure class="col-xs-12 col-sm-6 col-md-4 portfolio-item branding isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(776px, 445px, 0px);">
                        <a data-rel="prettyphoto" href="./Papyrus - Responsive Resume Template_files/work06.jpg">
                          <img alt="" src="./Papyrus - Responsive Resume Template_files/work06.jpg">
                        </a>
                        <div class="holder">
                          <div class="paper  has-shadow title">
                            <div class="content">
                              animating job #3
                            </div>

                          <div class="shadow"></div></div>

                          <div class="paper  has-shadow category">
                            <div class="content">
                              branding
                            </div>
                          <div class="shadow"></div></div>
                        </div>
                      </figure>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>

        <hr class="le-hr"> -->
 
 <!--
        <section id="blog">
          <div class="sticky-paper-head has-shadow ">
            <div class="content">
              <h1>Blog</h1>
            </div>
          <div class="shadow"></div></div>

          <div class="sticky-paper-body has-shadow ">
            <div class="content">
              <div class="row">
                <div class="col-xs-12">
                  <div class="blog-list-holder row">


                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                      
                      <div class="thumb has-shadow">
                        <div class="date">
                        08 Apr 2014
                      </div> 
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img01.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>
                      </div>


                    </div>

                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                     
                      <div class="thumb has-shadow">
                         <div class="date ">
                                                 15 Sep 2014
                                            </div>
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img02.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>

                      </div>

                    </div>



                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                      
                      <div class="thumb has-shadow">
                        <div class="date ">
                                                 01 July 2014
                                           </div>
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img03.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>

                      </div>

                    </div>



                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                     
                      <div class="thumb has-shadow">
                         <div class="date">
                                                05 June 2014
                                          </div>
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img04.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>
                      </div>


                    </div>


                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                      
                      <div class="thumb has-shadow">
                        <div class="date">
                      
                          25 Nov 2014
                       
                      </div>
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img05.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>

                      </div>

                    </div>



                    <div class="blog-item item col-xs-12 col-md-6 col-lg-4">
                     
                      <div class="thumb has-shadow">
                         <div class="date">
                      
                          10 Aug 2014
                      
                      </div>
                        <img alt="" src="./Papyrus - Responsive Resume Template_files/img06.jpg">
                      <div class="shadow"></div></div>
                      <div class="info-area">

                        <div class="title">
                          Lorem ipsum dolor sit amet
                        </div>
                        <div class="excerpt">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consequat mi in augue adipiscing, ut consectetur libero rhoncus. 
                          </p>
                        </div>

                        <a class="le-btn" href="http://amindiary.com/demo/papyrus/single-post.html">readmore</a>

                      </div>

                    </div>


                  </div>
                </div>
              </div>
            </div>
          <div class="shadow"></div></div>
        </section> -->
        <section id="footer">
          <div class="sticky-paper-head has-shadow">
            <div class="content">
              <div class="copyright">
                created by captainsuman
              </div>
            </div>
          <div class="shadow"></div></div>
        </section>


      </div>

    </div>

    <a class="goto-top" href="http://amindiary.com/demo/papyrus/#gotop" style="opacity: 0;"></a>


    <script src="./Papyrus - Responsive Resume Template_files/jquery-1.11.1.min.js"></script>
    <script src="./Papyrus - Responsive Resume Template_files/jquery-migrate-1.2.1.min.js"></script>
    <script src="./Papyrus - Responsive Resume Template_files/bootstrap.min.js"></script>

    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/css_browser_selector.js"></script>

    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.easing-1.3.js"></script>

    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.validate.js"></script>
    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.address-1.5.min.js"></script>
    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.circliful.min.js"></script>
    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/wow.min.js"></script>

    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/jquery.circliful.min.js"></script>

    <script type="text/javascript" src="./Papyrus - Responsive Resume Template_files/script.js"></script>

  



</body></html>